@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Rubik:wght@300&display=swap");

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #07689f;
  height: 10vh;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  color: white;
  transition: all 0.2s ease-in-out;
}
.click-link:hover {
  transform: scale(1.1);
}
.click-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff7e67;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.click-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.links a:hover,
.links a:visited,
.links a:link,
.links a:active {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .links {
    width: 80vw;
    font-size: 1.2em;
  }
}
